# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE stuff
.idea/
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# misc
backup_save.json
main.py
wpco_bot_0.2.zip
test_bot.py